#refill-container {
    text-align: center;
}

#refill-container #table-style {
    color: white;
    font-size: 33px;
}

#delete-container {
    margin-left: 140px;
    margin-top: 20px;
    height: 75px;
    width: 75px;

    
}

