#safety-header {
    font-size: 20px;
    text-align: center;
}

#safety-list {
    margin: 10px;
}

#safety-list-item {
    margin: 20px;
}

/* #description-style {
    font-size: 40px;
    color: white;
} */